.container{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    gap: 10px;
}