.container{
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

.containerList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}

