.container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    
}

.active{
    background-color: #666666;
    color: white;
}

.container:hover{
    opacity: 70%;
    cursor: pointer;
}