.container{
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}