.container{
    background-color: white;
    width: 500px;
    height: 700px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border: 2px solid gray;
    border-radius: 10px;
}

.container_form_login{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
}

.container_form_login_conf{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container_icon_password{
    width: 20px;
    height:20px;
    position: absolute;
    right: 0.5rem;
    top: 21px;
    cursor: pointer;
}

.container_button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input{
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.title{
    margin: 0 auto;
    font-size: 30px;
}

.link{
    cursor: pointer;
}

.link:hover{
    color: red;
}