.main_container_wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #CCCCCC;

}

.main_container{
    overflow: hidden;
    display: flex;
    height: 100%;
    border-radius: 10px;
}

.aside_container{
    width: 25%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;

}

.section_container{
    width: 75%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;

}