.container{
    height: 100%;
    width: 100%; 
    border-radius: 0 10px 10px 0;
    background-color: white 
}

.title{
    height: 5%;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm{
    height: 95%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container_form_login{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.container_form_location_type{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.container_form_photo{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.container_textarea{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.input{
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.text_area{
    height: 100px;
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}