.containerWrapper{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #666666;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
    border-radius: 20px;
}